:root {
    --bg-color: #000;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.clock__container {
    background-color: var(--bg-color);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: "Cyberverse";
    src: url("/assets/fonts/Cyberverse/Cyberverse.otf")
}

.clock__display {
    color: dodgerblue;
    font-family: "Cyberverse";
    font-size:  2rem;
}